body {
    background-color:red;
    color: white;
    margin:0;
    padding: 0;
}

.container {
    height: 100vh;
    position: relative;
}

#main-content {
    float: right;
    width: 90%;
    height: 100vh;
    background-color:#1e1e1e;
}

#side-bar {
    float: left;
    width: 10%;
    height: 100vh;
    background-color:#333333;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0 !important;
}

.menuActive {
    color: blue !important;
}

#side-bar li {
    color: white;
    margin:0;
    margin-top: 20%;
}

#side-bar i {
    width: 90%;
}

.container {
    color: white;
    display: none;
}